<% provide(:title, "Go within") %>
<div class="l-site__container">

  <% if current_user %>
    <%= render 'layouts/mediflections' %>
  <% end %>

  <% unless current_user %>
    <div class="c-welcome">
      <h1 class="c-welcome__title">Welcome to Mediflection</h1>

      <h1 class="c-welcome__subtitle"> Track your meditation, track your reflection</h1>

      <div class="c-welcome__login">
        <h1 class="c-welcome__login--text"> Login with: </h1>

        <%= link_to user_facebook_omniauth_authorize_path do %>
           <%= image_tag "logos/fb.png", class:"c-welcome__login--icon-fb" %>
        <% end %>
      </div>

    </div>
  <% end %>




</div>
