<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Mediflection</h1>

  <h2>
    Track your meditation, track your reflection
  </h2>

  <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
</div>
