<% provide(:title, "Go within") %>


  <% if current_user %>
  <div class="l-site__container">
    <%= render 'layouts/mediflections' %>
  </div>
  <% end %>


  <% unless current_user %>
  <div class="l-site__container l-site__container--home">
    <div class="c-welcome">
      <h1 class="c-welcome__title">Welcome to Mediflection</h1>

      <h2 class="c-welcome__subtitle"> Track your meditations, track your reflections</h2>

      <div class="c-welcome__login">
        <h3 class="c-welcome__login--text"> Login with: </h3>

        <div class="c-welcome__login--icon-fb">
          <%= link_to user_facebook_omniauth_authorize_path do %>
             <%= image_tag "fb.png" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
  <% end %>





