<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "mediflection", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Portfolio", 'http://fujisawakyle.com', :target => "_blank" %></li>
        <% if current_user %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
