<header class="l-site__header">
  <div class="header__logo">
    <%= link_to "mediflection", root_path, id: "logo" %>
  </div>
  <div class="header__nav">
    <%= link_to "Portfolio", 'http://fujisawakyle.com', :target => "_blank", class:"nav__item" %>
    <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav__item" %>
    <% end %>
  </div>
</header>
