<%# user profile pic %>
<%= image_tag( current_user.image, :alt => "profile picture") %>

<%# greet user %>
<h3> Happy meditating, <%= current_user.name %> </h3>

<% if false %>
<%= current_user.mediflections.all.inspect %>
<% end %>

<%= react_component("User", props: { data: current_user.mediflections.all}) %>



